<div class='resource-list-panel'>
  <h3>Destinations</h3>

  <p>
    <a href='#' {{action 'createDestination'}}>New Destination</a>
  </p>

  <ul>
    {{#each destination in model}}
      <li>
        {{link-to destination.name 'destination' destination}}

        (created {{ago destination.created_at}})

        {{#if session.isAuthenticated}}
          <a href='#' {{action 'deleteDestination' destination}} class='delete-link' data-confirm='Are you sure?'>delete</a>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>

<div class='resource-panel'>
  {{outlet}}
</div>
